<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OBS_Twitch_Challange_BoT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="TwitchUsername" value="YourTwitchUsername" />
    <add key="OAuthToken" value="YourOAuthToken" />
    <add key="TwitchChannel" value="YourChannel" />
  </appSettings>
  <userSettings>
    <OBS_Twitch_Challange_BoT.Properties.Settings>
      <setting name="TwitchUsername" serializeAs="String">
        <value>YourTwitchUsername</value>
      </setting>
      <setting name="TwitchAuth" serializeAs="String">
        <value>TwitchAuth</value>
      </setting>
      <setting name="TwitchChannel" serializeAs="String">
        <value>TwitchChannel</value>
      </setting>
      <setting name="ObsPort" serializeAs="String">
        <value>455</value>
      </setting>
      <setting name="ObsIP" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="ObsPassword" serializeAs="String">
        <value>Password</value>
      </setting>
      <setting name="ObsScene" serializeAs="String">
        <value />
      </setting>
      <setting name="ObsSourceTitle" serializeAs="String">
        <value />
      </setting>
      <setting name="ObsSourceDesc" serializeAs="String">
        <value />
      </setting>
      <setting name="ObsSourceOverlay" serializeAs="String">
        <value />
      </setting>
      <setting name="ObsOverlayScene" serializeAs="String">
        <value />
      </setting>
    </OBS_Twitch_Challange_BoT.Properties.Settings>
  </userSettings>
</configuration>